<h1 class="my-4"><%= car.year %> <%= car.make %> <%= car.model %></h1>

<ul>
  <li>Price: $<%= car.price %></li>
  <li>Condition: <%= car.condition %>
</ul>

<p>
  <%= link_to '&#127968; Home'.html_safe, root_path %>
</p>
